flows/BotswanaDams.json
[{"id":"d317b8b2.f18678","type":"tab","label":"Botswana Dams","disabled":false,"info":""},{"id":"992488e2.08fef8","type":"inject","z":"d317b8b2.f18678","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":110,"y":60,"wires":[["24547835.d5bf08","9afadc1b.6df2","44bfacfa.6d5cf4","251977f5.b72cf8"]]},{"id":"3dfca536.2046da","type":"switch","z":"d317b8b2.f18678","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":60,"wires":[["cf9e93e5.b3a66"],[]]},{"id":"cf9e93e5.b3a66","type":"template","z":"d317b8b2.f18678","name":"Gaborone Dam ZipCode Boundaries","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n  \"type\": \"FeatureCollection\",\n  \"features\": [\n    {\n      \"type\": \"Feature\",\n      \"properties\": {},\n      \"geometry\": {\n        \"type\": \"LineString\",\n        \"coordinates\": [\n          [\n            25.918807983398438,\n            -24.696466346680012\n          ],\n          [\n            25.90747833251953,\n            -24.696466346680012\n          ],\n          [\n            25.907649993896484,\n            -24.702392692875755\n          ],\n          [\n            25.901470184326172,\n            -24.700833155422234\n          ],\n          [\n            25.90421676635742,\n            -24.70816281166525\n          ],\n          [\n            25.893402099609375,\n            -24.70816281166525\n          ],\n          [\n            25.89202880859375,\n            -24.704576012506266\n          ],\n          [\n            25.887222290039062,\n            -24.70551170920292\n          ],\n          [\n            25.883102416992188,\n            -24.71783105997679\n          ],\n          [\n            25.888938903808594,\n            -24.719234452966557\n          ],\n          [\n            25.874347686767578,\n            -24.728590001801084\n          ],\n          [\n            25.863018035888672,\n            -24.733579340205964\n          ],\n          [\n            25.859928131103516,\n            -24.7332675124187\n          ],\n          [\n            25.85906982421875,\n            -24.737009394266575\n          ],\n          [\n            25.840187072753906,\n            -24.75524945574647\n          ],\n          [\n            25.848770141601562,\n            -24.757587731581584\n          ],\n          [\n            25.86833953857422,\n            -24.73825666319692\n          ],\n          [\n            25.875205993652344,\n            -24.73825666319692\n          ],\n          [\n            25.887222290039062,\n            -24.732487939530333\n          ],\n          [\n            25.896148681640625,\n            -24.735918023690584\n          ],\n          [\n            25.90353012084961,\n            -24.722820829823554\n          ],\n          [\n            25.91073989868164,\n            -24.724847866676082\n          ],\n          [\n            25.934772491455078,\n            -24.701301018708502\n          ],\n          [\n            25.916061401367184,\n            -24.697402104296263\n          ],\n          [\n            25.91588973999023,\n            -24.698025938802424\n          ]\n        ]\n      }\n    }\n  ]\n}","output":"json","x":750,"y":60,"wires":[["620a7525.ed445c"]]},{"id":"620a7525.ed445c","type":"function","z":"d317b8b2.f18678","name":"Draw Gaborone Dam","func":"// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"maroon\",\n    \"stroke-width\": 5,\n    \"fill\": \"maroon\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.properties = properties;\n\nmsg.payload = { name: \"Gaborone\",\n                layer:\"Gaborone\",\n                geojson:msg.payload\n              };    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":80,"wires":[["d170f393.df012","8a05f604.f97ef8"]]},{"id":"d170f393.df012","type":"debug","z":"d317b8b2.f18678","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1370,"y":80,"wires":[]},{"id":"9724dc58.f3593","type":"switch","z":"d317b8b2.f18678","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":140,"wires":[["18a7b62b.dab98a"],[]]},{"id":"18a7b62b.dab98a","type":"template","z":"d317b8b2.f18678","name":"Notwane River ZipCode Boundaries","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"type\": \"FeatureCollection\",\n  \"features\": [\n    {\n      \"type\": \"Feature\",\n      \"properties\": {},\n      \"geometry\": {\n        \"type\": \"LineString\",\n        \"coordinates\": [\n          [\n            25.927734374999996,\n            -24.700131357197904\n          ],\n          [\n            25.948591232299805,\n            -24.684846770923052\n          ],\n          [\n            25.925159454345703,\n            -24.68016744119258\n          ],\n          [\n            25.927562713623043,\n            -24.70044326800795\n          ]\n        ]\n      }\n    }\n  ]\n}","output":"str","x":820,"y":200,"wires":[["5b91b9a8.c99678"]]},{"id":"5b91b9a8.c99678","type":"function","z":"d317b8b2.f18678","name":"Draw Notwane River","func":"// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"maroon\",\n    \"stroke-width\": 5,\n    \"fill\": \"maroon\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.properties = properties;\n\nmsg.payload = { name: \"Notwane\",\n                layer:\"Notwane\",\n                geojson:msg.payload\n              };    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":200,"wires":[["8a05f604.f97ef8","417253f5.fee3dc"]]},{"id":"b875dd5f.2c1f1","type":"switch","z":"d317b8b2.f18678","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":280,"wires":[["825c6682.ee72f8"],[]]},{"id":"825c6682.ee72f8","type":"template","z":"d317b8b2.f18678","name":"Dikgatlhaong Dam ZipCode Boundaries","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"type\": \"FeatureCollection\",\n  \"features\": [\n    {\n      \"type\": \"Feature\",\n      \"properties\": {},\n      \"geometry\": {\n        \"type\": \"LineString\",\n        \"coordinates\": [\n          [\n            27.989044189453125,\n            -21.55592302944132\n          ],\n          [\n            27.91763305664062,\n            -21.476712414769395\n          ],\n          [\n            27.893600463867188,\n            -21.491407966408463\n          ],\n          [\n            27.868194580078125,\n            -21.48054617995312\n          ],\n          [\n            27.857894897460938,\n            -21.49907462171202\n          ],\n          [\n            27.9052734375,\n            -21.518878277460114\n          ],\n          [\n            27.894973754882812,\n            -21.52398846032504\n          ],\n          [\n            27.826995849609375,\n            -21.5124902961598\n          ],\n          [\n            27.787170410156246,\n            -21.542511366159946\n          ],\n          [\n            27.813949584960938,\n            -21.56486344941305\n          ],\n          [\n            27.872314453125,\n            -21.55911609985186\n          ],\n          [\n            27.901840209960938,\n            -21.57380331806443\n          ],\n          [\n            27.947845458984375,\n            -21.596789018881672\n          ],\n          [\n            27.989730834960934,\n            -21.552729888732735\n          ]\n        ]\n      }\n    }\n  ]\n}","output":"str","x":800,"y":300,"wires":[["9d1d48ae.ac77d8"]]},{"id":"9d1d48ae.ac77d8","type":"function","z":"d317b8b2.f18678","name":"Draw Dikgatlhong Dam","func":"// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"maroon\",\n    \"stroke-width\": 5,\n    \"fill\": \"maroon\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.properties = properties;\n\nmsg.payload = { name: \"Dikgatlhong\",\n                layer:\"Dikgatlhong\",\n                geojson:msg.payload\n              };    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":300,"wires":[["8a05f604.f97ef8","fdaa04d0.572b98"]]},{"id":"c7f531db.2415f","type":"switch","z":"d317b8b2.f18678","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":460,"wires":[["61e3206a.cfc4d"],[]]},{"id":"61e3206a.cfc4d","type":"template","z":"d317b8b2.f18678","name":"Shashe River ZipCode Boundaries","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"type\": \"FeatureCollection\",\n  \"features\": [\n    {\n      \"type\": \"Feature\",\n      \"properties\": {},\n      \"geometry\": {\n        \"type\": \"LineString\",\n        \"coordinates\": [\n          [\n            27.651214599609375,\n            -21.534208286774795\n          ],\n          [\n            27.651214599609375,\n            -21.539317930291002\n          ],\n          [\n            27.762451171875,\n            -21.56869488921152\n          ],\n          [\n            27.805709838867188,\n            -21.552091252155996\n          ],\n          [\n            27.79712677001953,\n            -21.546662727745304\n          ],\n          [\n            27.759361267089844,\n            -21.55783888012394\n          ],\n          [\n            27.651214599609375,\n            -21.53101466826156\n          ]\n        ]\n      }\n    }\n  ]\n}","output":"str","x":780,"y":460,"wires":[["a13bd741.c15a18"]]},{"id":"a13bd741.c15a18","type":"function","z":"d317b8b2.f18678","name":"Draw Shashe River","func":"// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"maroon\",\n    \"stroke-width\": 5,\n    \"fill\": \"maroon\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.properties = properties;\n\nmsg.payload = { name: \"Shashe\",\n                layer:\"Shashe\",\n                geojson:msg.payload\n              };    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":420,"wires":[["8a05f604.f97ef8","c5cc06fc.c10238"]]},{"id":"13ef5.161ba10bf","type":"switch","z":"d317b8b2.f18678","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":640,"wires":[["1b94f7c8.546b28"],[]]},{"id":"1b94f7c8.546b28","type":"template","z":"d317b8b2.f18678","name":"Letsibogo Dam ZipCode Boundaries","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"type\": \"FeatureCollection\",\n  \"features\": [\n    {\n      \"type\": \"Feature\",\n      \"properties\": {},\n      \"geometry\": {\n        \"type\": \"LineString\",\n        \"coordinates\": [\n          [\n            27.69876480102539,\n            -21.792497982270238\n          ],\n          [\n            27.70322799682617,\n            -21.794570082804455\n          ],\n          [\n            27.71095275878906,\n            -21.807161433957106\n          ],\n          [\n            27.72125244140625,\n            -21.80572703209746\n          ],\n          [\n            27.722797393798825,\n            -21.807639564717427\n          ],\n          [\n            27.71524429321289,\n            -21.825488637150162\n          ],\n          [\n            27.72468566894531,\n            -21.82485120860972\n          ],\n          [\n            27.729663848876953,\n            -21.832181465343446\n          ],\n          [\n            27.745971679687496,\n            -21.83361560206896\n          ],\n          [\n            27.72468566894531,\n            -21.859268284025017\n          ],\n          [\n            27.71627426147461,\n            -21.85640051096577\n          ],\n          [\n            27.699966430664062,\n            -21.853851331021776\n          ],\n          [\n            27.700824737548828,\n            -21.848593503731365\n          ],\n          [\n            27.692928314208984,\n            -21.843335482976016\n          ],\n          [\n            27.670612335205078,\n            -21.847956178185395\n          ],\n          [\n            27.667865753173828,\n            -21.847637514346527\n          ],\n          [\n            27.669925689697266,\n            -21.841423427469365\n          ],\n          [\n            27.665634155273438,\n            -21.837758582929574\n          ],\n          [\n            27.67284393310547,\n            -21.83138471650395\n          ],\n          [\n            27.679367065429688,\n            -21.837121209071924\n          ],\n          [\n            27.68331527709961,\n            -21.83600579798427\n          ],\n          [\n            27.680397033691406,\n            -21.830109909128645\n          ],\n          [\n            27.68606185913086,\n            -21.829153796140712\n          ],\n          [\n            27.691726684570312,\n            -21.830269260671937\n          ],\n          [\n            27.693958282470703,\n            -21.827560260292053\n          ],\n          [\n            27.6994514465332,\n            -21.828835090391163\n          ],\n          [\n            27.69979476928711,\n            -21.826285418831862\n          ],\n          [\n            27.695674896240234,\n            -21.82277954623995\n          ],\n          [\n            27.70116806030273,\n            -21.81911422395405\n          ],\n          [\n            27.697734832763672,\n            -21.812102041490473\n          ],\n          [\n            27.695674896240234,\n            -21.80508951554803\n          ],\n          [\n            27.698593139648438,\n            -21.79170101254818\n          ]\n        ]\n      }\n    }\n  ]\n}","output":"str","x":850,"y":620,"wires":[["5e5159af.007288"]]},{"id":"5e5159af.007288","type":"function","z":"d317b8b2.f18678","name":"Draw Letsibogo Dam","func":"// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"maroon\",\n    \"stroke-width\": 5,\n    \"fill\": \"maroon\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.properties = properties;\n\nmsg.payload = { name: \"Letsibogo\",\n                layer:\"Letsibogo\",\n                geojson:msg.payload\n              };    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":600,"wires":[["8a05f604.f97ef8","6d4cd8aa.e84028"]]},{"id":"ca77887c.c29e88","type":"switch","z":"d317b8b2.f18678","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":720,"wires":[["37b81cff.dbfce4"],[]]},{"id":"37b81cff.dbfce4","type":"template","z":"d317b8b2.f18678","name":"Motlouetse River ZipCode Boundaries","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"type\": \"FeatureCollection\",\n  \"features\": [\n    {\n      \"type\": \"Feature\",\n      \"properties\": {},\n      \"geometry\": {\n        \"type\": \"LineString\",\n        \"coordinates\": [\n          [\n            27.69876480102539,\n            -21.792497982270238\n          ],\n          [\n            27.70322799682617,\n            -21.794570082804455\n          ],\n          [\n            27.71095275878906,\n            -21.807161433957106\n          ],\n          [\n            27.72125244140625,\n            -21.80572703209746\n          ],\n          [\n            27.722797393798825,\n            -21.807639564717427\n          ],\n          [\n            27.71524429321289,\n            -21.825488637150162\n          ],\n          [\n            27.72468566894531,\n            -21.82485120860972\n          ],\n          [\n            27.729663848876953,\n            -21.832181465343446\n          ],\n          [\n            27.745971679687496,\n            -21.83361560206896\n          ],\n          [\n            27.72468566894531,\n            -21.859268284025017\n          ],\n          [\n            27.71627426147461,\n            -21.85640051096577\n          ],\n          [\n            27.699966430664062,\n            -21.853851331021776\n          ],\n          [\n            27.700824737548828,\n            -21.848593503731365\n          ],\n          [\n            27.692928314208984,\n            -21.843335482976016\n          ],\n          [\n            27.670612335205078,\n            -21.847956178185395\n          ],\n          [\n            27.667865753173828,\n            -21.847637514346527\n          ],\n          [\n            27.669925689697266,\n            -21.841423427469365\n          ],\n          [\n            27.665634155273438,\n            -21.837758582929574\n          ],\n          [\n            27.67284393310547,\n            -21.83138471650395\n          ],\n          [\n            27.679367065429688,\n            -21.837121209071924\n          ],\n          [\n            27.68331527709961,\n            -21.83600579798427\n          ],\n          [\n            27.680397033691406,\n            -21.830109909128645\n          ],\n          [\n            27.68606185913086,\n            -21.829153796140712\n          ],\n          [\n            27.691726684570312,\n            -21.830269260671937\n          ],\n          [\n            27.693958282470703,\n            -21.827560260292053\n          ],\n          [\n            27.6994514465332,\n            -21.828835090391163\n          ],\n          [\n            27.69979476928711,\n            -21.826285418831862\n          ],\n          [\n            27.695674896240234,\n            -21.82277954623995\n          ],\n          [\n            27.70116806030273,\n            -21.81911422395405\n          ],\n          [\n            27.697734832763672,\n            -21.812102041490473\n          ],\n          [\n            27.695674896240234,\n            -21.80508951554803\n          ],\n          [\n            27.698593139648438,\n            -21.79170101254818\n          ]\n        ]\n      }\n    },\n    {\n      \"type\": \"Feature\",\n      \"properties\": {},\n      \"geometry\": {\n        \"type\": \"LineString\",\n        \"coordinates\": [\n          [\n            27.80364990234375,\n            -21.82134530087423\n          ],\n          [\n            27.790260314941406,\n            -21.88125263069041\n          ],\n          [\n            27.86579132080078,\n            -21.88411990450323\n          ],\n          [\n            27.840042114257812,\n            -21.84301680883439\n          ],\n          [\n            27.802963256835938,\n            -21.81911422395405\n          ]\n        ]\n      }\n    }\n  ]\n}","output":"str","x":810,"y":700,"wires":[["9a172a63.d08df8"]]},{"id":"9a172a63.d08df8","type":"function","z":"d317b8b2.f18678","name":"Draw Motloutse River","func":"// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"maroon\",\n    \"stroke-width\": 5,\n    \"fill\": \"maroon\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.properties = properties;\n\nmsg.payload = { name: \"Motloutse\",\n                layer:\"Motloutse\",\n                geojson:msg.payload\n              };    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":700,"wires":[["8a05f604.f97ef8","4d9cf3ca.eb568c"]]},{"id":"417253f5.fee3dc","type":"debug","z":"d317b8b2.f18678","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1500,"y":200,"wires":[]},{"id":"fdaa04d0.572b98","type":"debug","z":"d317b8b2.f18678","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1570,"y":300,"wires":[]},{"id":"c5cc06fc.c10238","type":"debug","z":"d317b8b2.f18678","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":360,"wires":[]},{"id":"6d4cd8aa.e84028","type":"debug","z":"d317b8b2.f18678","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1560,"y":580,"wires":[]},{"id":"4d9cf3ca.eb568c","type":"debug","z":"d317b8b2.f18678","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1580,"y":700,"wires":[]},{"id":"9703aa17.a143c8","type":"inject","z":"d317b8b2.f18678","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"RiverName\":\"Notwane\"}","payloadType":"json","x":330,"y":260,"wires":[["76ba4dea.ee3414"]]},{"id":"24547835.d5bf08","type":"ui_switch","z":"d317b8b2.f18678","name":"","label":"Show Gaborone Dam","tooltip":"","group":"1a332493.149cab","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-building","oncolor":"maroon","offvalue":"false","offvalueType":"bool","officon":"fa-building","offcolor":"grey","x":235,"y":83,"wires":[["3dfca536.2046da"]],"l":false},{"id":"9afadc1b.6df2","type":"ui_switch","z":"d317b8b2.f18678","name":"","label":"Show Notwane River","tooltip":"","group":"1a332493.149cab","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-tint","oncolor":"blue","offvalue":"false","offvalueType":"bool","officon":"fa-tint","offcolor":"gey","x":215,"y":180,"wires":[["9724dc58.f3593"]],"l":false},{"id":"44bfacfa.6d5cf4","type":"ui_switch","z":"d317b8b2.f18678","name":"","label":"Show Dikgatlhong Dam","tooltip":"","group":"c164b3d3.dcd39","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-building","oncolor":"maroon","offvalue":"false","offvalueType":"bool","officon":"fa-building","offcolor":"grey","x":215,"y":320,"wires":[["b875dd5f.2c1f1"]],"l":false},{"id":"251977f5.b72cf8","type":"ui_switch","z":"d317b8b2.f18678","name":"","label":"Show Shashe River","tooltip":"","group":"c164b3d3.dcd39","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-tint","oncolor":"blue","offvalue":"false","offvalueType":"bool","officon":"fa-tint","offcolor":"grey","x":290,"y":460,"wires":[["c7f531db.2415f"]]},{"id":"e7a52194.21312","type":"ui_switch","z":"d317b8b2.f18678","name":"","label":"Show Letsibogo Dam","tooltip":"","group":"40104fed.a284e","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-building","oncolor":"maroon","offvalue":"false","offvalueType":"bool","officon":"fa-building","offcolor":"grey","x":290,"y":660,"wires":[["13ef5.161ba10bf"]]},{"id":"75b29b73.613904","type":"ui_switch","z":"d317b8b2.f18678","name":"","label":"Show Motluetse River","tooltip":"","group":"40104fed.a284e","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-tint","oncolor":"blue","offvalue":"false","offvalueType":"bool","officon":"fa-tint","offcolor":"grey","x":310,"y":740,"wires":[["ca77887c.c29e88"]]},{"id":"eddc626d.342d7","type":"ui_form","z":"d317b8b2.f18678","name":"","label":"River Name - Water Quality Report","group":"1a332493.149cab","order":3,"width":0,"height":0,"options":[{"label":"Enter River Name","value":"riverName","type":"text","required":true,"rows":null}],"formValue":{"riverName":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":380,"y":220,"wires":[["76ba4dea.ee3414"]]},{"id":"7475787e.1d2e18","type":"ui_form","z":"d317b8b2.f18678","name":"","label":"River Name - Water Quality Report","group":"c164b3d3.dcd39","order":3,"width":0,"height":0,"options":[{"label":"Enter River Name","value":"riverName","type":"text","required":true,"rows":null}],"formValue":{"riverName":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":310,"y":540,"wires":[[]]},{"id":"d0da6ee7.6ee1f","type":"ui_form","z":"d317b8b2.f18678","name":"","label":"River Name - Water Quality Report","group":"40104fed.a284e","order":2,"width":0,"height":0,"options":[{"label":"Enter River Name","value":"riverName","type":"text","required":true,"rows":null}],"formValue":{"riverName":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":340,"y":840,"wires":[[]]},{"id":"8a05f604.f97ef8","type":"worldmap","z":"d317b8b2.f18678","name":"","lat":"","lon":"","zoom":"","layer":"Nat Geo","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":1620,"y":380,"wires":[]},{"id":"a4db1db4.b58a8","type":"inject","z":"d317b8b2.f18678","name":"Init WorldMap","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"{\"RiverName\":\"Notwane\"}","payloadType":"json","x":340,"y":360,"wires":[["1ab8de89.ac5461","ba621303.dd70e"]]},{"id":"ba621303.dd70e","type":"change","z":"d317b8b2.f18678","name":"Inject /weathermap","rules":[{"t":"set","p":"payload","pt":"msg","to":"<iframe src=\"/weathermap\" height=412px width=624px ></iframe>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":380,"wires":[["5a628b0e.c871e4"]]},{"id":"1ab8de89.ac5461","type":"delay","z":"d317b8b2.f18678","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":340,"wires":[["e2308381.fbddd"]]},{"id":"5a628b0e.c871e4","type":"ui_template","z":"d317b8b2.f18678","group":"1c7a1d33.b138a3","name":"Embedded Map","order":1,"width":12,"height":8,"format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":740,"y":380,"wires":[[]]},{"id":"e2308381.fbddd","type":"change","z":"d317b8b2.f18678","name":"Default map","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\"command\":{\"layer\":\"OSM\",\"lat\":-21.549008,\"lon\":27.981034,\"zoom\":4,\"addtoheatmap\":true,\"autopan\":true,\"clear\":\"OSM\",\"map\":{\"name\":\"OSM\",\"url\":\"http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png\",\"opt\":{\"MaxZoom\":18,\"attribution\":\"&copy; OpenStreetMap\"}}}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":340,"wires":[["8a05f604.f97ef8"]]},{"id":"76ba4dea.ee3414","type":"function","z":"d317b8b2.f18678","name":"Aquagenuity params","func":"msg.payload = {\"auth\":{\"username\":\"removed\",\n                       \"password\":\"removed\"},\n               \"rivername\":msg.payload.riverName} ;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":240,"wires":[["2a9cb714.0dbca8"]]},{"id":"2a9cb714.0dbca8","type":"http request","z":"d317b8b2.f18678","name":"GetWaterScore","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://aquagenuity.com/GetWaterScore","tls":"","persist":false,"proxy":"","authType":"","x":920,"y":240,"wires":[["dcaf883b.340a38"]]},{"id":"dcaf883b.340a38","type":"change","z":"d317b8b2.f18678","name":"WaterScore","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.waterscore[0]","tot":"msg"},{"t":"set","p":"payload.name","pt":"msg","to":"Water Report","tot":"str"},{"t":"set","p":"payload.lat","pt":"msg","to":"40.979671","tot":"str"},{"t":"set","p":"payload.lon","pt":"msg","to":"-74.119179","tot":"str"},{"t":"set","p":"payload.icon","pt":"msg","to":"fa-tint","tot":"str"},{"t":"set","p":"payload.iconColor","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":240,"wires":[["c9e80ac6.7b70f8","8a05f604.f97ef8"]]},{"id":"c9e80ac6.7b70f8","type":"debug","z":"d317b8b2.f18678","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":240,"wires":[]},{"id":"1a332493.149cab","type":"ui_group","z":0,"name":"Show Maps","tab":"712adfcb.efeb5","order":1,"disp":true,"width":"7","collapse":false},{"id":"c164b3d3.dcd39","type":"ui_group","z":"","name":"Show Maps","tab":"dff4ede8.c979b","order":1,"disp":true,"width":6,"collapse":false},{"id":"40104fed.a284e","type":"ui_group","z":0,"name":"Show Maps","tab":"ac3957bd.2b6ae8","order":1,"disp":true,"width":"6","collapse":false},{"id":"1c7a1d33.b138a3","type":"ui_group","z":"","name":"Show Dikgatlhong Dam","tab":"dff4ede8.c979b","order":9,"disp":true,"width":12,"collapse":false},{"id":"712adfcb.efeb5","type":"ui_tab","z":0,"name":"Show Gaborone Dam","icon":"fa-tint","disabled":false,"hidden":false},{"id":"dff4ede8.c979b","type":"ui_tab","z":"","name":"Show Dikgatlhong Dam","icon":"fa-tint","order":1,"disabled":false,"hidden":false},{"id":"ac3957bd.2b6ae8","type":"ui_tab","z":0,"name":"Show Letsibogo Dam","icon":"fa-tint","disabled":false,"hidden":false}]
