flows/healthRisks
[{"id":"b15534b.1dd56c8","type":"tab","label":"Health Risks","disabled":false,"info":""},{"id":"5f93079.4163ff8","type":"http request","z":"b15534b.1dd56c8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.epa.gov/sites/production/files/2016-06/documents/npwdr_complete_table.pdf","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":100,"wires":[["13546b0c.9376f5","6516bc63.191da4"]]},{"id":"6948efb.4ef781","type":"inject","z":"b15534b.1dd56c8","name":"National Primary Drinking Water Regulations","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"https://www.epa.gov/sites/production/files/2016-06/documents/npwdr_complete_table.pdf","payloadType":"str","x":270,"y":180,"wires":[["a05c31f4.89a71"]]},{"id":"9013cb27.6cd458","type":"change","z":"b15534b.1dd56c8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":120,"wires":[["5f93079.4163ff8"]]},{"id":"13546b0c.9376f5","type":"debug","z":"b15534b.1dd56c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":100,"wires":[]},{"id":"a05c31f4.89a71","type":"ui_switch","z":"b15534b.1dd56c8","name":"","label":"Link to National Primary Drinking Water Regulations by EPA","tooltip":"  ","group":"b6e2b72.64dd648","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-external-link","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"fa-external-link","offcolor":"grey","x":620,"y":340,"wires":[["9013cb27.6cd458"]]},{"id":"6516bc63.191da4","type":"ui_button","z":"b15534b.1dd56c8","name":"","group":"b6e2b72.64dd648","order":2,"width":0,"height":0,"passthru":true,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"fa-link","payload":"true","payloadType":"bool","topic":"","x":990,"y":260,"wires":[[]]},{"id":"b6e2b72.64dd648","type":"ui_group","z":"","name":"Health Risks - Water Toxins","tab":"4d064e0.c6cbeb4","order":1,"disp":true,"width":"6","collapse":false},{"id":"4d064e0.c6cbeb4","type":"ui_tab","z":"","name":"Show Health Risks - Water Toxins","icon":"fa-heartbeat","disabled":false,"hidden":false}]
