flows/waterinfo.json
[{"id":"600f950d.b0cccc","type":"tab","label":"Weather Info","disabled":false,"info":""},{"id":"52cd2548.193e0c","type":"inject","z":"600f950d.b0cccc","name":"Current PWS Observations","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":150,"y":100,"wires":[["edb66ac6.620bd8"]]},{"id":"dc5ce9dd.6024d8","type":"debug","z":"600f950d.b0cccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":100,"wires":[]},{"id":"f762544e.4a4718","type":"debug","z":"600f950d.b0cccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":140,"wires":[]},{"id":"dec87b23.2b9f88","type":"inject","z":"600f950d.b0cccc","name":"PWS Historical Averages by Date","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":360,"wires":[["b82f3ce5.baf04"]]},{"id":"3947e0c0.07e09","type":"debug","z":"600f950d.b0cccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":360,"wires":[]},{"id":"eb40976f.2cb0b8","type":"inject","z":"600f950d.b0cccc","name":"PWS Historical Hourly Averages by Date","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":400,"wires":[["658ca104.a106"]]},{"id":"604c1fdd.a091b","type":"debug","z":"600f950d.b0cccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":400,"wires":[]},{"id":"80c2995a.93c558","type":"inject","z":"600f950d.b0cccc","name":"PWS Historical All Data by Date","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":440,"wires":[["4d84d38d.c2b86c"]]},{"id":"588df72c.3f28f8","type":"debug","z":"600f950d.b0cccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":440,"wires":[]},{"id":"cf95b42f.e5d718","type":"comment","z":"600f950d.b0cccc","name":"Query PWS Current Conditions / Observations for any Personal Weather Station","info":"","x":320,"y":60,"wires":[]},{"id":"786f3ddf.75fb84","type":"comment","z":"600f950d.b0cccc","name":"Query Historical Data from any Personal Weather Station","info":"","x":250,"y":280,"wires":[]},{"id":"a3643229.9a5c4","type":"inject","z":"600f950d.b0cccc","name":"Current PWS Observations elsewhere","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":140,"wires":[["3df48218.fe3f0e"]]},{"id":"40fca19f.1f6ac","type":"inject","z":"600f950d.b0cccc","name":"5 Day Forecast by Postal Code","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":560,"wires":[["2ca8e7f0.1a6278"]]},{"id":"346cc0b1.3cf53","type":"debug","z":"600f950d.b0cccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":560,"wires":[]},{"id":"9e09afb.d7a285","type":"comment","z":"600f950d.b0cccc","name":"5 Day Forecast","info":"","x":120,"y":520,"wires":[]},{"id":"4874fff2.497be","type":"inject","z":"600f950d.b0cccc","name":"5 Day Forecast by GeoCode","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":600,"wires":[["b95cc509.e7a638"]]},{"id":"a5e7bf7.e21494","type":"debug","z":"600f950d.b0cccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":600,"wires":[]},{"id":"92fede0f.9e82c","type":"inject","z":"600f950d.b0cccc","name":"5 Day Forecast by IATA Airport Code","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":640,"wires":[["9f382fba.85dd2"]]},{"id":"309cfa7b.837d16","type":"debug","z":"600f950d.b0cccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":640,"wires":[]},{"id":"533b507d.c5171","type":"inject","z":"600f950d.b0cccc","name":"5 Day Forecast by ICAO Airport Code","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":680,"wires":[["5d2bb5ff.3655ac"]]},{"id":"e93423c7.8cc44","type":"debug","z":"600f950d.b0cccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":680,"wires":[]},{"id":"3b799355.2441dc","type":"inject","z":"600f950d.b0cccc","name":"5 Day Forecast by Postal Code","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":720,"wires":[["78622598.d8dd4c"]]},{"id":"31a2b4e6.40a49c","type":"debug","z":"600f950d.b0cccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":720,"wires":[]},{"id":"3c77fe6e.1d4172","type":"comment","z":"600f950d.b0cccc","name":"Recent PWS Observations","info":"","x":170,"y":840,"wires":[]},{"id":"e43c57d3.edfb18","type":"inject","z":"600f950d.b0cccc","name":"7 Day PWS Daily Summary","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":880,"wires":[["b96b60c2.87df6"]]},{"id":"7cceee43.b720b","type":"debug","z":"600f950d.b0cccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":880,"wires":[]},{"id":"ea6b2ab8.63f4b8","type":"inject","z":"600f950d.b0cccc","name":"7 Day PWS Hourly Summary","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":920,"wires":[["ca82b01e.8435f"]]},{"id":"251da60c.c33c1a","type":"debug","z":"600f950d.b0cccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":920,"wires":[]},{"id":"cd17b6f9.401198","type":"debug","z":"600f950d.b0cccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":960,"wires":[]},{"id":"e29bff76.1ed78","type":"inject","z":"600f950d.b0cccc","name":"1 Day All PWS Records","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":960,"wires":[["948cdcb8.5fe28"]]},{"id":"67c3d091.3759f","type":"change","z":"600f950d.b0cccc","name":"Inject / test params","rules":[{"t":"set","p":"twcparams","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"twcparams.StationID","pt":"msg","to":"KNJRIDGE9","tot":"str"},{"t":"set","p":"date","pt":"msg","to":"futz","tot":"str"},{"t":"set","p":"twcparams","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"twcparams.date","pt":"msg","to":"1579560576859","tot":"num"},{"t":"set","p":"twcparams.date","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"twcparams.date","pt":"msg","to":"2020/01/20","tot":"str"},{"t":"set","p":"twcparams.date","pt":"msg","to":"2020-01-19","tot":"str"},{"t":"set","p":"twcparams.payload","pt":"msg","to":"20200118","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":320,"wires":[["b82f3ce5.baf04"]]},{"id":"dd79f4b0.65b9c8","type":"inject","z":"600f950d.b0cccc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":320,"wires":[["67c3d091.3759f"]]},{"id":"823f0271.88b77","type":"inject","z":"600f950d.b0cccc","name":"Test","props":[{"p":"payload","v":"true","vt":"bool"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":180,"wires":[["e0000b7e.ada468"]]},{"id":"e0000b7e.ada468","type":"change","z":"600f950d.b0cccc","name":"set msg.twcparams input vars","rules":[{"t":"set","p":"twcparams","pt":"msg","to":"{\"StationID\":\"KNJRIDGE9\",\"units\":\"E\"}","tot":"json"},{"t":"set","p":"twcparams.units","pt":"msg","to":"e","tot":"str"},{"t":"set","p":"twcparams.StationID","pt":"msg","to":"KNJRIDGE9","tot":"str"},{"t":"set","p":"twcparams.location","pt":"msg","to":"EWR","tot":"str"},{"t":"set","p":"twcparams.locationtype","pt":"msg","to":"iataCode","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":180,"wires":[["3df48218.fe3f0e","417b5a47.474974"]]},{"id":"417b5a47.474974","type":"debug","z":"600f950d.b0cccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"twcparams","targetType":"msg","x":820,"y":180,"wires":[]},{"id":"5dcbfffa.0430d","type":"change","z":"600f950d.b0cccc","name":"set msg.twcparams input vars","rules":[{"t":"set","p":"twcparams","pt":"msg","to":"{\"StationID\":\"KNJRIDGE9\",\"units\":\"E\"}","tot":"json"},{"t":"set","p":"twcparams.units","pt":"msg","to":"e","tot":"str"},{"t":"set","p":"twcparams.StationID","pt":"msg","to":"KNJRIDGE9","tot":"str"},{"t":"set","p":"twcparams.location","pt":"msg","to":"EWR","tot":"str"},{"t":"set","p":"twcparams.locationtype","pt":"msg","to":"iataCode","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":760,"wires":[["78622598.d8dd4c"]]},{"id":"392f43f.412c9bc","type":"inject","z":"600f950d.b0cccc","name":"Test","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":760,"wires":[["5dcbfffa.0430d"]]},{"id":"d37de11a.760e","type":"comment","z":"600f950d.b0cccc","name":"TWC NowCast","info":"","x":140,"y":1020,"wires":[]},{"id":"e4af863f.91fb28","type":"change","z":"600f950d.b0cccc","name":"set msg.twcparams input vars","rules":[{"t":"set","p":"twcparams.units","pt":"msg","to":"e","tot":"str"},{"t":"set","p":"twcparams.location","pt":"msg","to":"40.98,-74.1","tot":"str"},{"t":"set","p":"twcparams.locationtype","pt":"msg","to":"geocode","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1100,"wires":[["7bbeac51.570d94"]]},{"id":"696ed1ed.95f99","type":"inject","z":"600f950d.b0cccc","name":"Test","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":1100,"wires":[["e4af863f.91fb28"]]},{"id":"570280c5.f6fad","type":"inject","z":"600f950d.b0cccc","name":"6 Hour Nowcast by GeoCode","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":260,"y":1060,"wires":[["80aa02a1.0a558"]]},{"id":"2bc3dda3.340592","type":"inject","z":"600f950d.b0cccc","name":"6 Hour Nowcast by Postal Code","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":250,"y":1140,"wires":[["984aa02b.7f176"]]},{"id":"83cd81fe.95f86","type":"change","z":"600f950d.b0cccc","name":"set msg.twcparams input vars","rules":[{"t":"set","p":"twcparams.units","pt":"msg","to":"e","tot":"str"},{"t":"set","p":"twcparams.location","pt":"msg","to":"07450:US","tot":"str"},{"t":"set","p":"twcparams.locationtype","pt":"msg","to":"postalKey","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1180,"wires":[["adeec4b9.e7acc8"]]},{"id":"db15a0e6.5c3b9","type":"inject","z":"600f950d.b0cccc","name":"Test","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":1180,"wires":[["83cd81fe.95f86"]]},{"id":"9d00238c.135d7","type":"debug","z":"600f950d.b0cccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":1060,"wires":[]},{"id":"762c3260.fcf80c","type":"debug","z":"600f950d.b0cccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":1100,"wires":[]},{"id":"86c246dc.558328","type":"debug","z":"600f950d.b0cccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":1140,"wires":[]},{"id":"50ecfec.bc773","type":"debug","z":"600f950d.b0cccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":1180,"wires":[]},{"id":"2ca8e7f0.1a6278","type":"pws-forecast","z":"600f950d.b0cccc","name":"","units":"e","locationtype":"postalKey","location":"07450:US","lang":"en-US","apikey":"8172bfa1.9a21d","x":560,"y":560,"wires":[["346cc0b1.3cf53"]]},{"id":"b95cc509.e7a638","type":"pws-forecast","z":"600f950d.b0cccc","name":"","units":"e","locationtype":"postalKey","location":"40.98,-74.1","lang":"en-US","apikey":"d58b92c5.aecef","x":560,"y":600,"wires":[["a5e7bf7.e21494"]]},{"id":"9f382fba.85dd2","type":"pws-forecast","z":"600f950d.b0cccc","name":"","units":"e","locationtype":"iataCode","location":"EWR","lang":"en-US","apikey":"437752a3.b7f4dc","x":560,"y":640,"wires":[["309cfa7b.837d16"]]},{"id":"5d2bb5ff.3655ac","type":"pws-forecast","z":"600f950d.b0cccc","name":"","units":"e","locationtype":"icaoCode","location":"KEWR","lang":"en-US","apikey":"8573649a.dbddf8","x":560,"y":680,"wires":[["e93423c7.8cc44"]]},{"id":"78622598.d8dd4c","type":"pws-forecast","z":"600f950d.b0cccc","name":"","units":"e","locationtype":"placeid","location":"327145917e06d09373dd2760425a88622a62d248fd97550eb4883737d8d1173b","lang":"en-US","apikey":"4ad80821.a4a0f8","x":560,"y":720,"wires":[["31a2b4e6.40a49c"]]},{"id":"edb66ac6.620bd8","type":"pws-observations","z":"600f950d.b0cccc","name":"","stationid":"IGABOR1","units":"m","apikey":"83ebedde.8c99e","x":570,"y":100,"wires":[["dc5ce9dd.6024d8"]]},{"id":"3df48218.fe3f0e","type":"pws-observations","z":"600f950d.b0cccc","name":"","stationid":"IGABOR1","units":"m","apikey":"f8c8bbd0.05a998","x":570,"y":140,"wires":[["f762544e.4a4718"]]},{"id":"b82f3ce5.baf04","type":"pws-historical","z":"600f950d.b0cccc","name":"","stationid":"IGABOR1","units":"m","date":"","range":"daily","apikey":"f1d5a4b4.077f28","x":560,"y":360,"wires":[["3947e0c0.07e09"]]},{"id":"658ca104.a106","type":"pws-historical","z":"600f950d.b0cccc","name":"","stationid":"IGABOR1","units":"m","date":"20191101","range":"hourly","apikey":"b6953a8e.d71958","x":560,"y":400,"wires":[["604c1fdd.a091b"]]},{"id":"4d84d38d.c2b86c","type":"pws-historical","z":"600f950d.b0cccc","name":"","stationid":"IGABOR1","units":"m","date":"20191101","range":"all","apikey":"c7f4d070.9af82","x":560,"y":440,"wires":[["588df72c.3f28f8"]]},{"id":"b96b60c2.87df6","type":"pws-7day-summary","z":"600f950d.b0cccc","name":"","stationid":"KNJRIDGE9","units":"e","apikey":"916a0226.cb049","x":580,"y":880,"wires":[["7cceee43.b720b"]]},{"id":"ca82b01e.8435f","type":"pws-7day-hourly","z":"600f950d.b0cccc","name":"","stationid":"KNJRIDGE9","units":"e","apikey":"bdc603df.6c053","x":570,"y":920,"wires":[["251da60c.c33c1a"]]},{"id":"948cdcb8.5fe28","type":"pws-1day-all","z":"600f950d.b0cccc","name":"","stationid":"KNJRIDGE9","units":"e","apikey":"95cf7a60.bb5618","x":560,"y":960,"wires":[["cd17b6f9.401198"]]},{"id":"80aa02a1.0a558","type":"twc-nowcast","z":"600f950d.b0cccc","name":"","units":"e","locationtype":"geocode","location":"40.98,-74.1","lang":"en-US","apikey":"b19049b2.0fc7f8","x":560,"y":1060,"wires":[["9d00238c.135d7"]]},{"id":"7bbeac51.570d94","type":"twc-nowcast","z":"600f950d.b0cccc","name":"","units":"e","locationtype":"geocode","location":"1","lang":"en-US","apikey":"ceced30c.d12e","x":560,"y":1100,"wires":[["762c3260.fcf80c"]]},{"id":"984aa02b.7f176","type":"twc-nowcast","z":"600f950d.b0cccc","name":"","units":"m","locationtype":"postalKey","location":"07450:US","lang":"en-US","apikey":"43b61806.26f848","x":560,"y":1140,"wires":[["86c246dc.558328"]]},{"id":"adeec4b9.e7acc8","type":"twc-nowcast","z":"600f950d.b0cccc","name":"","units":"e","locationtype":"postalKey","location":"0","lang":"en-US","apikey":"45caa05b.99009","x":560,"y":1180,"wires":[["50ecfec.bc773"]]},{"id":"8172bfa1.9a21d","type":"pwsapikey","z":0,"name":""},{"id":"d58b92c5.aecef","type":"pwsapikey","z":0,"name":""},{"id":"437752a3.b7f4dc","type":"pwsapikey","z":0,"name":""},{"id":"8573649a.dbddf8","type":"pwsapikey","z":0,"name":""},{"id":"4ad80821.a4a0f8","type":"pwsapikey","z":0,"name":""},{"id":"83ebedde.8c99e","type":"pwsapikey","z":0,"name":""},{"id":"f8c8bbd0.05a998","type":"pwsapikey","z":0,"name":""},{"id":"f1d5a4b4.077f28","type":"pwsapikey","z":0,"name":""},{"id":"b6953a8e.d71958","type":"pwsapikey","z":0,"name":""},{"id":"c7f4d070.9af82","type":"pwsapikey","z":0,"name":""},{"id":"916a0226.cb049","type":"pwsapikey","z":0,"name":""},{"id":"bdc603df.6c053","type":"pwsapikey","z":0,"name":""},{"id":"95cf7a60.bb5618","type":"pwsapikey","z":0,"name":""},{"id":"b19049b2.0fc7f8","type":"pwsapikey","z":0,"name":""},{"id":"ceced30c.d12e","type":"pwsapikey","z":0,"name":""},{"id":"43b61806.26f848","type":"pwsapikey","z":0,"name":""},{"id":"45caa05b.99009","type":"pwsapikey","z":0,"name":""}]
