flows/Weather_dashboard.json
[{"id":"b2d5ba1d.6bf0d8","type":"tab","label":"PWS Dashboard","disabled":false,"info":""},{"id":"8681709.38a219","type":"debug","z":"b2d5ba1d.6bf0d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":100,"wires":[]},{"id":"11b3e026.90468","type":"debug","z":"b2d5ba1d.6bf0d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":500,"wires":[]},{"id":"e01f5d66.686a3","type":"comment","z":"b2d5ba1d.6bf0d8","name":"Query PWS Current Conditions / Observations for any Personal Weather Station","info":"","x":320,"y":60,"wires":[]},{"id":"397c5b0b.1f6174","type":"comment","z":"b2d5ba1d.6bf0d8","name":"Query Historical Data from PWS","info":"","x":170,"y":500,"wires":[]},{"id":"f74a185.c2d86e8","type":"comment","z":"b2d5ba1d.6bf0d8","name":"5 Day Forecast","info":"","x":120,"y":620,"wires":[]},{"id":"e7cc8639.cbf478","type":"comment","z":"b2d5ba1d.6bf0d8","name":"Recent PWS Observations","info":"","x":150,"y":320,"wires":[]},{"id":"74b9b338.8f080c","type":"debug","z":"b2d5ba1d.6bf0d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":360,"wires":[]},{"id":"49f2330.d01fecc","type":"debug","z":"b2d5ba1d.6bf0d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":360,"wires":[]},{"id":"8d645393.f75ce","type":"change","z":"b2d5ba1d.6bf0d8","name":"","rules":[{"t":"set","p":"StationID","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":100,"wires":[["f8c1158f.fa4938"]]},{"id":"c5372764.f496f8","type":"change","z":"b2d5ba1d.6bf0d8","name":"Set twcparams","rules":[{"t":"set","p":"twcparams","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"twcparams.StationID","pt":"msg","to":"StationID","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":140,"wires":[["41ebcca6.d4ac54"]]},{"id":"f8c1158f.fa4938","type":"debug","z":"b2d5ba1d.6bf0d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":100,"wires":[]},{"id":"abd8ed27.242ad","type":"function","z":"b2d5ba1d.6bf0d8","name":"Get HourlyAvgTemp","func":"if( typeof( msg.payload.observations) == 'undefined') {\n    return null;\n}\n\nvar HourlyAvgTempChart = [{\n    \"series\":[\"7 Day Hourly Summary\"],\n    \"data\":[[]],\n    \"labels\":[\"Hourly Avg Temp\"]\n}];\n\n\nfor( var i=0; i < msg.payload.observations.length; i++) {\n    AvgTemp = {\"x\":msg.payload.observations[i].epoch,\"y\":msg.payload.observations[i].imperial.tempAvg};\n    HourlyAvgTempChart[0].data[0].push(AvgTemp) ;\n}\n\nmsg.payload = HourlyAvgTempChart;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":400,"wires":[["74b9b338.8f080c","7ea2ec9f.607af4"]]},{"id":"f4355b80.e16ed8","type":"change","z":"b2d5ba1d.6bf0d8","name":"Set twcparams","rules":[{"t":"set","p":"twcparams","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"twcparams.date","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"twcparams.StationID","pt":"msg","to":"StationID","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":540,"wires":[["4288d016.d3d6","34242f16.a485b"]]},{"id":"34242f16.a485b","type":"debug","z":"b2d5ba1d.6bf0d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":500,"wires":[]},{"id":"1f6433bf.caea1c","type":"change","z":"b2d5ba1d.6bf0d8","name":"Historical Date AvgTemp ","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.observations[0].imperial.tempAvg","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":540,"wires":[["e59f7f9d.d94da","11b3e026.90468"]]},{"id":"9a1616c2.403928","type":"inject","z":"b2d5ba1d.6bf0d8","name":"Hourly refresh","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":700,"wires":[["f461bab2.5819c8"]]},{"id":"1e6eeac4.b10a05","type":"function","z":"b2d5ba1d.6bf0d8","name":"Narrative","func":"var Days = [];\nvar MyForecastStr;\nfor( var i=0; i < msg.payload.dayOfWeek.length; i++) {\n    MyForecastStr = msg.payload.dayOfWeek[i] +\" : \"+msg.payload.narrative[i];\n    Days.push(MyForecastStr)\n}\n\nreturn [{\"payload\":Days[0]},\n        {\"payload\":Days[1]},\n        {\"payload\":Days[2]},\n        {\"payload\":Days[3]},\n        {\"payload\":Days[4]},\n        {\"payload\":Days[5]}];","outputs":6,"noerr":0,"initialize":"","finalize":"","x":300,"y":760,"wires":[["8f21a4e4.c86af8","4f614d2.61ebdb4"],["8f21a4e4.c86af8","80e7b616.df9fd8"],["8f21a4e4.c86af8","f29d1eed.275ee"],["8f21a4e4.c86af8","d6983149.eea93"],["8f21a4e4.c86af8","dd2681f2.6a524"],["8f21a4e4.c86af8","a60c2d5b.bf23e"]]},{"id":"e364f6ce.552ce8","type":"debug","z":"b2d5ba1d.6bf0d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":660,"wires":[]},{"id":"8f21a4e4.c86af8","type":"debug","z":"b2d5ba1d.6bf0d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":960,"wires":[]},{"id":"adfab5ad.f24eb8","type":"inject","z":"b2d5ba1d.6bf0d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":400,"wires":[["675f8c9c.721354"]]},{"id":"ac4d5c8a.82f8a","type":"debug","z":"b2d5ba1d.6bf0d8","name":"","active":true,"console":"false","complete":"payload","x":990,"y":960,"wires":[]},{"id":"791a6f24.75d86","type":"function","z":"b2d5ba1d.6bf0d8","name":"Weather Icon","func":"// TWC forecast API suggests a Icon code to display with the narrative\n// Map the icon codes to Weather Lite icons. See\n// https://github.com/Paul-Reed/weather-icons-lite\nvar IconMapping=[ \"wi-darksky-tornado\", \"wi-hurricane\",\n\"wi-hurricane\",\"wi-owm-11d\",\"wi-owm-11d\",\n\"wi-wu-rain\",\"wi-wu-sleet\",\"wi-wu-sleet\",\"wi-wu-sleet\",\n\"wi-wu-rain\",\"wi-wu-chancesleet\",\"wi-wu-rain\",\"wi-wu-rain\",\n\"wi-wu-flurries\",\"wi-wu-flurries\",\"wi-wu-snow\",\"wi-wu-snow\",\n\"wi-wu-sleet\",\"wi-wu-sleet\",\"wi-sandstorm\",\"wi-wu-hazy\",\n\"wi-wu-hazy\",\"wi-wu-hazy\",\"wi-darksky-wind\",\"wi-darksky-wind\",\n\"wi-wu-sleet\",\"wi-wu-cloudy\",\"wi-wu-mostlycloudy\",\n\"wi-wu-mostlycloudy\",\"wi-wu-partlycloudy\",\"wi-wu-partlycloudy\",\n\"wi-wu-clear\",\"wi-wu-sunny\",\"wi-owm-02d\",\"wi-owm-02d\",\"wi-wu-rain\",\n\"wi-wu-sunny\",\"wi-darksky-thunderstorm\",\"wi-darksky-thunderstorm\",\"wi-wu-chancerain\",\n\"wi-owm-10d\",\"wi-wu-flurries\",\"wi-wu-snow\",\"wi-wu-snow\",\"wi-na\",\n\"wi-wu-chancerain\",\"wi-wu-snow\",\"wi-wu-tstorms\"];\n\n\nvar Icon=[];\nfor(i = 0; i<=msg.payload.daypart[0].iconCode.length; i+=2){\n    if( msg.payload.daypart[0].iconCode[i] !== null) {\n        Icon.push(IconMapping[msg.payload.daypart[0].iconCode[i]]);\n    } else {\n        // Evening half day? - use the alternate icon\n        Icon.push(IconMapping[msg.payload.daypart[0].iconCode[i+1]]);\n    }\n}\n\n//node.send({\"payload\":Icon})\nreturn [{\"payload\":Icon[0]},\n        {\"payload\":Icon[1]},\n        {\"payload\":Icon[2]},\n        {\"payload\":Icon[3]},\n        {\"payload\":Icon[4]},\n        {\"payload\":Icon[5]}];\n\n","outputs":6,"noerr":0,"initialize":"","finalize":"","x":750,"y":760,"wires":[["ac4d5c8a.82f8a","44a03e9f.68a73"],["ac4d5c8a.82f8a","1bc8c99e.235836"],["ac4d5c8a.82f8a","cb445353.6244b"],["ac4d5c8a.82f8a","ee17c27d.4849c"],["ac4d5c8a.82f8a","75b360a2.4c12d"],["ac4d5c8a.82f8a","88d91427.731d48"]]},{"id":"675f8c9c.721354","type":"change","z":"b2d5ba1d.6bf0d8","name":"Set twcparams","rules":[{"t":"set","p":"twcparams","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"twcparams.StationID","pt":"msg","to":"StationID","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":360,"wires":[["a26a34be.5e1318"]]},{"id":"6d9b8551.ef245c","type":"comment","z":"b2d5ba1d.6bf0d8","name":"One time - Add Map to Dashboard","info":"","x":180,"y":220,"wires":[]},{"id":"38433665.d6326a","type":"inject","z":"b2d5ba1d.6bf0d8","name":"Init WorldMap","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"true","payloadType":"bool","x":230,"y":260,"wires":[["b7cd4c77.1fb87","4c86d029.524d5"]]},{"id":"51b7d80b.6ae278","type":"change","z":"b2d5ba1d.6bf0d8","name":"Default map","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\"command\":{\"layer\":\"OSM\",\"lat\":41.2417,\"lon\":-99.3829,\"zoom\":4,\"addtoheatmap\":true,\"autopan\":true,\"clear\":\"OSM\",\"map\":{\"name\":\"OSM\",\"url\":\"http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png\",\"opt\":{\"MaxZoom\":18,\"attribution\":\"&copy; OpenStreetMap\"}}}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":220,"wires":[["dd1110d9.7892e"]]},{"id":"b7cd4c77.1fb87","type":"delay","z":"b2d5ba1d.6bf0d8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":220,"wires":[["51b7d80b.6ae278"]]},{"id":"ef04da13.0d7618","type":"function","z":"b2d5ba1d.6bf0d8","name":"Plot on Map","func":"if( typeof(msg.payload.observations) == 'undefined') {\n    return null;\n}\n\nvar weather = {};\nif( typeof( msg.payload.observations[0].metric) != 'undefined') {\n    weather = msg.payload.observations[0].metric;\n    delete msg.payload.observations[0].metric\n} else if( typeof( msg.payload.observations[0].imperial) != 'undefined') {\n    weather = msg.payload.observations[0].imperial;\n    delete msg.payload.observations[0].imperial\n} else if( typeof( msg.payload.observations[0].uk_hybrid) != 'undefined') {\n    weather = msg.payload.observations[0].uk_hybrid;\n    delete msg.payload.observations[0].uk_hybrid\n}\nfor (const [key, value] of Object.entries(weather)) {\n    // Move the key/value pairs up so they appear nicely in the marker popup\n    msg.payload[key]=value;\n}\n\nfor (const [key, value] of Object.entries(msg.payload.observations[0])) {\n    // Move the key/value pairs up so they appear nicely in the marker popup\n    msg.payload[key]=value;\n}\ndelete msg.payload.observations;\n\n\nmsg.payload.name = msg.twcparams.StationID;\nmsg.payload.icon = \"globe\";\nif( msg.payload.temp > 60 ) {\n    msg.payload.iconColor = \"red\";\n} else {\n    msg.payload.iconColor = \"orange\";\n}\n\nmsg.payload.command = { zoom:6, \n                            \"lat\":msg.payload.lat,\n                            \"lon\":msg.payload.lon,\n                            autopan:true };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":180,"wires":[["dd1110d9.7892e"]]},{"id":"4c86d029.524d5","type":"change","z":"b2d5ba1d.6bf0d8","name":"Inject /weathermap","rules":[{"t":"set","p":"payload","pt":"msg","to":"<iframe src=\"/weathermap\" height=412px width=624px ></iframe>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":260,"wires":[["89f8afb8.b6742"]]},{"id":"b2a60820.8b25d8","type":"function","z":"b2d5ba1d.6bf0d8","name":"Build Table","func":"if( typeof(msg.payload.observations) == 'undefined') {\n    return null;\n}\n\nvar TableArray = [];\nfor (const [key, value] of Object.entries(msg.payload.observations[0])) {\n  var TableEntry = {};\n  TableEntry.observations = key ;\n  TableEntry.results = value ;\n  TableArray.push( TableEntry );\n}\n\nvar weather = {};\nif( typeof( msg.payload.observations[0].metric) != 'undefined') {\n    weather = msg.payload.observations[0].metric;\n} else if( typeof( msg.payload.observations[0].imperial) != 'undefined') {\n    weather = msg.payload.observations[0].imperial;\n} else if( typeof( msg.payload.observations[0].uk_hybrid) != 'undefined') {\n    weather = msg.payload.observations[0].uk_hybrid;\n}    \n   \nfor (const [key, value] of Object.entries(weather)) {\n    var TableEntry = {};\n    TableEntry.observations = key ;\n    TableEntry.results = value ;\n    TableArray.push( TableEntry );\n}\n\nmsg.payload = TableArray;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":140,"wires":[["ee3e6c9b.8a307"]]},{"id":"fa0fa86e.ab4e78","type":"ui_button","z":"b2d5ba1d.6bf0d8","name":"","group":"14f868e.bddab97","order":2,"width":6,"height":1,"passthru":false,"label":"Current PWS Observations","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":140,"wires":[["c5372764.f496f8"]]},{"id":"a2a5673f.03f0b8","type":"ui_button","z":"b2d5ba1d.6bf0d8","name":"","group":"e8048c38.35f15","order":1,"width":0,"height":0,"passthru":false,"label":"Today Forecast","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":660,"wires":[["f461bab2.5819c8"]]},{"id":"9a159781.497ab8","type":"ui_button","z":"b2d5ba1d.6bf0d8","name":"","group":"14f868e.bddab97","order":5,"width":0,"height":0,"passthru":false,"label":"7 Day PWS Hourly Summary","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":360,"wires":[["675f8c9c.721354"]]},{"id":"40393260.fefb8c","type":"ui_text_input","z":"b2d5ba1d.6bf0d8","name":"","label":"Enter StationID","tooltip":"","group":"14f868e.bddab97","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":120,"y":100,"wires":[["8d645393.f75ce"]]},{"id":"4afd7f3f.c32ac","type":"ui_date_picker","z":"b2d5ba1d.6bf0d8","name":"","label":"Historical Date","group":"14f868e.bddab97","order":3,"width":0,"height":0,"passthru":true,"topic":"","x":120,"y":540,"wires":[["f4355b80.e16ed8"]]},{"id":"4f614d2.61ebdb4","type":"ui_text","z":"b2d5ba1d.6bf0d8","group":"e8048c38.35f15","order":3,"width":6,"height":2,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":510,"y":720,"wires":[]},{"id":"80e7b616.df9fd8","type":"ui_text","z":"b2d5ba1d.6bf0d8","group":"e8048c38.35f15","order":5,"width":6,"height":2,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":510,"y":760,"wires":[]},{"id":"f29d1eed.275ee","type":"ui_text","z":"b2d5ba1d.6bf0d8","group":"e8048c38.35f15","order":7,"width":6,"height":2,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":510,"y":800,"wires":[]},{"id":"d6983149.eea93","type":"ui_text","z":"b2d5ba1d.6bf0d8","group":"e8048c38.35f15","order":9,"width":6,"height":2,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":510,"y":840,"wires":[]},{"id":"dd2681f2.6a524","type":"ui_text","z":"b2d5ba1d.6bf0d8","group":"e8048c38.35f15","order":11,"width":6,"height":2,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":510,"y":880,"wires":[]},{"id":"a60c2d5b.bf23e","type":"ui_text","z":"b2d5ba1d.6bf0d8","group":"e8048c38.35f15","order":13,"width":6,"height":2,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":510,"y":920,"wires":[]},{"id":"7ea2ec9f.607af4","type":"ui_chart","z":"b2d5ba1d.6bf0d8","name":"","group":"96c04aff.7fa958","order":2,"width":12,"height":4,"label":"7 Day PWS Hourly Avg Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":920,"y":400,"wires":[[]]},{"id":"e59f7f9d.d94da","type":"ui_gauge","z":"b2d5ba1d.6bf0d8","name":"","group":"14f868e.bddab97","order":4,"width":0,"height":0,"gtype":"gage","title":"Historical Date AvgTemp","label":"F","format":"{{value}}","min":0,"max":"100","colors":["#0054ff","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":540,"wires":[]},{"id":"44a03e9f.68a73","type":"ui_template","z":"b2d5ba1d.6bf0d8","group":"e8048c38.35f15","name":"Weather Icon Image1","order":2,"width":2,"height":2,"format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1020,"y":720,"wires":[[]]},{"id":"1bc8c99e.235836","type":"ui_template","z":"b2d5ba1d.6bf0d8","group":"e8048c38.35f15","name":"Weather Icon Image2","order":4,"width":2,"height":2,"format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1020,"y":760,"wires":[[]]},{"id":"cb445353.6244b","type":"ui_template","z":"b2d5ba1d.6bf0d8","group":"e8048c38.35f15","name":"Weather Icon Image3","order":6,"width":2,"height":2,"format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1020,"y":800,"wires":[[]]},{"id":"ee17c27d.4849c","type":"ui_template","z":"b2d5ba1d.6bf0d8","group":"e8048c38.35f15","name":"Weather Icon Image4","order":8,"width":2,"height":2,"format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1020,"y":840,"wires":[[]]},{"id":"75b360a2.4c12d","type":"ui_template","z":"b2d5ba1d.6bf0d8","group":"e8048c38.35f15","name":"Weather Icon Image5","order":10,"width":2,"height":2,"format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1020,"y":880,"wires":[[]]},{"id":"88d91427.731d48","type":"ui_template","z":"b2d5ba1d.6bf0d8","group":"e8048c38.35f15","name":"Weather Icon Image6","order":12,"width":2,"height":2,"format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1020,"y":920,"wires":[[]]},{"id":"89f8afb8.b6742","type":"ui_template","z":"b2d5ba1d.6bf0d8","group":"96c04aff.7fa958","name":"Embedded Map","order":1,"width":12,"height":8,"format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":660,"y":260,"wires":[[]]},{"id":"ee3e6c9b.8a307","type":"ui_table","z":"b2d5ba1d.6bf0d8","group":"96c04aff.7fa958","name":"","order":3,"width":12,"height":4,"columns":[{"field":"observations","title":"Observations","width":"50%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"results","title":"Results","width":"48%","align":"right","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":970,"y":140,"wires":[]},{"id":"dd1110d9.7892e","type":"worldmap","z":"b2d5ba1d.6bf0d8","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","path":"/weathermap","x":1010,"y":240,"wires":[]},{"id":"f461bab2.5819c8","type":"pws-forecast","z":"b2d5ba1d.6bf0d8","name":"","units":"e","locationtype":"iataCode","location":"IATA: GBE, ICAO: FBSK","lang":"en-US","apikey":"f5458a43.b91628","x":400,"y":660,"wires":[["1e6eeac4.b10a05","e364f6ce.552ce8","791a6f24.75d86"]]},{"id":"41ebcca6.d4ac54","type":"pws-observations","z":"b2d5ba1d.6bf0d8","name":"","stationid":"IGABORON2","units":"m","apikey":"f5458a43.b91628","x":590,"y":140,"wires":[["8681709.38a219","ef04da13.0d7618","b2a60820.8b25d8"]]},{"id":"4288d016.d3d6","type":"pws-historical","z":"b2d5ba1d.6bf0d8","name":"","stationid":"","units":"e","date":"","range":"all","apikey":"f5458a43.b91628","x":520,"y":540,"wires":[["1f6433bf.caea1c"]]},{"id":"a26a34be.5e1318","type":"pws-7day-hourly","z":"b2d5ba1d.6bf0d8","name":"","stationid":"IGABORON2","units":"m","apikey":"f5458a43.b91628","x":430,"y":400,"wires":[["49f2330.d01fecc","abd8ed27.242ad"]]},{"id":"14f868e.bddab97","type":"ui_group","z":0,"name":"PWS Queries","tab":"1a889ec9.7e45f1","order":1,"disp":true,"width":"6","collapse":false},{"id":"e8048c38.35f15","type":"ui_group","z":0,"name":"Forecast","tab":"1a889ec9.7e45f1","order":3,"disp":true,"width":"8","collapse":false},{"id":"96c04aff.7fa958","type":"ui_group","z":"","name":"PWS Results","tab":"1a889ec9.7e45f1","order":2,"disp":true,"width":"12","collapse":false},{"id":"f5458a43.b91628","type":"pwsapikey","z":0,"name":""},{"id":"1a889ec9.7e45f1","type":"ui_tab","z":0,"name":"Weather Info","icon":"wi-wu-partlycloudy","order":1,"disabled":false,"hidden":false}]
